@media screen and (max-width: 768px) {
    .navigation {
        position: relative;
        .nav-wrapper {
            background-image: none;
            .left-side {
                width: 100%;
                .nav-links {
                    position: absolute;
                    width: 100vw;
                    .burger {
                        display: inline-block;
                        text-align: center;
                        position: absolute;

                        .nav-link-wrapper {
                            display: none;
                            position: relative;
                            top: 35px;
                            height: auto;
                            background-color: $nav-bar-background-color;
                            flex-direction: column;
                            width: 100vw;

                            .nav-socials-wrapper {
                                display: inline-block;

                                .social-buttons {
                                    display: flex;
                                    justify-content: center;
                                    .social-media-btn {
                                        padding: 0 5px;
                                    }
                                }
                            }
                        }

                        &:hover {
                            .nav-link-wrapper {
                                display: flex;
                            }
                        }
                    }
                }
            }
            .right-side {
                display: none;
            }
            // &:hover {
            //     .nav-links {
            //         display: flex;
            //         flex-direction: column;
            //         justify-content: space-between;
            //         border: 2px red solid;
            //         height: 25vh;
            //     }
            // }
        }
    }

    .home-wrapper {
        .now-offering-section {
            .offer {
                display: flex;
                flex-direction: column-reverse;

                margin: 0 40px 40px;
            }
        }

        .three-button-section-wrapper {
            height: 100%;
            padding: 150px 0;
            .three-button-section {
                .row-wrapper {
                    flex-direction: column;
                    .left,
                    .center,
                    .right {
                        padding-bottom: 30px;
                    }
                }
            }
        }

        .daily-specials-section-wrapper {
            .daily-specials {
                margin: 0 40px 0px;

                .buttons-wrapper {
                    display: flex;
                    flex-direction: column;
                    .button {
                        text-align: center;
                    }
                }
            }
        }
    }

    .footer-wrapper {
        .footer {
            display: flex;
            flex-direction: column;
            * {
                text-align: center;
            }

            .buttons-wrapper {
                display: flex;
                justify-content: center;
            }
        }
    }
}
