// ======= COLORS ======

$offgray: #eee;
$offwhite: whitesmoke;

$nav-bar-text-color: white;

$nav-bar-text-hover-color:  #0e133d;

$nav-bar-background-color: #465a7d;

$button-color: #465a7d;

$home-header-color: #233d6d;

$specials-menu-description-color: #3f3f3f;

// ========== other ===============

// $nav-bar-font-style: {
    //  color: white; 
    // font-size: 24px;
    // font-style: normal;
    // font-weight: 600;
    // letter-spacing: -2px;
// }

// $nav-bar-font-style: {
    //     color: white; 
    //     font-size: 24px;
    //     font-style: normal;
    //     font-weight: 600;
    //     letter-spacing: -2px;
    //     text-transform: none;
        
    //     transition: 0.4s;
// }